.page{
  border: solid;
  border-color: goldenrod;
  border-top: none;
  border-width: 2px;
}
.menu{
  width: 100%;
  display: block;
  height: 50px;
  background: goldenrod;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}
.menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
  height: 50px;
}
.menu li{
  float: left;
}
.menu a{
  color: rgb(255, 255, 255);
  display: block;
  height: 50px;
  padding: 0 30px;
  text-decoration: none;
  line-height: 50px;
}
.menu a:focus{
  background: white;
  color: goldenrod;
}
.content{
  padding: 15px;
}
.content p{
  text-indent: 30px;
  color: goldenrod;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 0;
  font-size: 18px;
}
.content h1{
  text-align: center;
  color: rgb(135, 101, 15);
}
.content h2{
  text-align: center;
  color: rgb(130, 95, 6);
}
.content b{
  color: rgb(182, 138, 29);
  text-decoration: underline;
}
.links{
  text-align: center
}
.links a{
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  text-decoration: none;
  color: rgb(158, 115, 6);
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.links a:hover{
  text-decoration: underline;
  color: black;
}