.menu{
    padding: 15px;
    background: white;
    width: 200px;
    box-shadow: 2px 2px 8px rgba(0,0,0,.1);
    font-family: Arial, sans-serif;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {margin: 5px 0 0 0px;}

.menu a {
    text-decoration: none;
    display: block;  
    font-size: 13px;
    color: rgb(255, 255, 255);
    border: solid;
    border-color: black;
    background-color: grey;
    padding: 5px;
    position: relative;
    transition: .1s linear;
  }
  
.menu a:hover {
    background: #ffffff;
    color: rgb(0, 0, 0);
  }